<section class="body-content-container wrap-container">
  <h3 class="hero-headline">
    Don't Be A Yak Shaver. Write Your Book With Paperback.
  </h3>
  <div class="about-hero-image"></div>
  <div class="about-main-content-wrapper">
    <h5 class="about-description">
      Paperback helps technical authors standardize and streamline ebook production. 
      <br><br>
      Instead of wasting valuable time on complex toolchains and formatting work, use just one command and you’re good to go. Authors can:
    </h5>
    <ul class="about-bullet-points bottom-buffer">
      <li>
        <%= image_tag "/images/about-icon-1.png", class: "point-image" %>
        <h5 class="point-copy">Write everything in Markdown</h5>
      </li>
      <li>
        <%= image_tag "/images/about-icon-2.png", class: "point-image" %>
        <h5 class="point-copy">View changes in real time</h5>
      </li>
      <li>
        <%= image_tag "/images/about-icon-3.png", class: "point-image" %>
        <h5 class="point-copy">Collaborate with others using GitHub</h5>
      </li>
    </ul>
    <ul class="about-bullet-points">
      <li>
        <%= image_tag "/images/about-icon-4.png", class: "point-image" %>
        <h5 class="point-copy">Benefit from pre-defined styles</h5>
      </li>
      <li>
        <%= image_tag "/images/about-icon-5.png", class: "point-image" %>
        <h5 class="point-copy">Publish in multiple formats</h5>
      </li>
      <li>
        <%= image_tag "/images/about-icon-6.png", class: "point-image" %>
        <h5 class="point-copy">Sell to a wide audience</h5>
      </li>
    </ul>
    <h5 class="about-description">
      Paperback gives you the control of using your own workflow while simplifying the set-up and publishing process. Focus all your attention on what you came to do - writing your book.
    </h5>
    <a href="/getting-started.html" class="main-cta">
      Get started now
    </a>
    <a href="/products.html" class="secondary-cta">
      Compare Services 
    </a>
    <div class="about-icon-section">
      <div class="about-icon about-icon-one">
      </div>
    </div>
  </div>
</section>
