<section class="body-content-container wrap-container">
  <h3 class="hero-headline">
    See How Other eBook Publishers Stack Up
  </h3>
  <section class="plans">
    <div class="inner">
      <nav class="features">
        <ol>
          <li>
            <a href="#one">LaTeX</a>
          </li>
          <li>
            <a href="#two">Markdown</a>
          </li>
          <li>
            <a href="#three">In Browser Editing</a>
          </li>
          <li>
            <a href="#four">Template Styles</a>
          </li>
          <li>
            <a href="#five">One Step Set-Up</a>
          </li>
          <li>
            <a href="#six">Automatic Preview</a>
          </li>
          <li>
            <a href="#seven">Utilize Git</a>
          </li>
          <li>
            <a href="#eight">Integrated Marketing</a>
          </li>
          <li>
            <p>Cost of use</p>
          </li>
        </ol>
      </nav>
    </div>
    <section class="plan">
      <h3>Paperback</h3>
      <ol>
        <li class="check-lg">
          <%= image_tag "//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-x-fea1207423ba5efe0b8085ef5f7b37aa.svg" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-x-fea1207423ba5efe0b8085ef5f7b37aa.svg" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-x-fea1207423ba5efe0b8085ef5f7b37aa.svg" %>
        </li>
        <li class="check-lg">
          <p class="product-cost">1%</p>
        </li>
      </ol>
      <h5 class="recommended-service">Best for technical authors</h5>
    </section>
    <section class="plan">
      <h3>Softcover</h3>
      <ol>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-x-fea1207423ba5efe0b8085ef5f7b37aa.svg" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-x-fea1207423ba5efe0b8085ef5f7b37aa.svg" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <p class="product-cost">10%</p>
        </li>
      </ol>
      <h5 class="recommended-service">Best for mathematical documentation</h5>
    </section>
    <section class="plan">
      <h3>Atlas</h3>
      <ol>
        <li class="check-lg">
          <%= image_tag "//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-x-fea1207423ba5efe0b8085ef5f7b37aa.svg" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-x-fea1207423ba5efe0b8085ef5f7b37aa.svg" %>
        </li>
        <li class="check-lg">
          <%= image_tag "images/checkmark-products.png" %>
        </li>
        <li class="check-lg">
          <%= image_tag "//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-x-fea1207423ba5efe0b8085ef5f7b37aa.svg" %>
        </li>
        <li class="check-lg">
          <%= image_tag "//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-x-fea1207423ba5efe0b8085ef5f7b37aa.svg" %>
        </li>
        <li class="check-lg">
          <p class="product-cost">?</p>
        </li>
      </ol>
      <h5 class="recommended-service">Best for non-technical authors</h5>
    </section>
  </section>
  <section class="more-information">
    <ol class="features-description">
      <li id="one">
        <h5>LaTeX</h5>
        <p>
           LaTeX allows authors to write mathematic and scientific documentation. Its output is
           formatted using the TeX typesetting program, and makes it preferable for 
           authors writing equations or non-latin scripts.
        </p>
        <p>
          <a href="http://www.latex-project.org/" target="_blank">Read More About LaTeX</a>
        </p>
      </li> 
      <li id="two">
        <h5>Markdown</h5>
        <p>
          Markdown is used by web writers to easily convert text to HTML. Markdown is 
          easy-to-read and write in plain text, making it an ideal tool for technical authors.
        </p>
        <p>
          <a href="https://help.github.com/articles/markdown-basics/" target="_blank">Read More About Markdown</a>
        </p>
      </li> 
      <li id="three">
        <h5>In Browser Editing</h5>
        <p>
          For users who aren't comfortable with the command line, services like Atlas allow 
          you to sign into their website and edit your book from within the browser.
        </p>
      <p>
        <a href="https://atlas.oreilly.com/" target="_blank">Check Out Atlas</a>
      </p>
      </li> 
      <li id="four">
        <h5>Template Styles</h5>
        <p>
          Instead of spending extra time deciding how to properly style your ebook, many 
          services provide pre-set styling.
        </p>
      </li> 
      <li id="five">
        <h5>One Step Set-Up</h5>
        <p>
          You could spend your time gluing together LaTeX, Pandoc, syntax highlighting, 
          PrinceXML, xsltproc, Kindlegen, or a bunch of other system dependencies. Or you 
          could utilize a system that lets you install in less than 10 seconds.
        </p>
        <p>
          <a href="/getting-started.html">Get Started with Paperback</a>
        </p>
      </li> 
      <li id="six">
        <h5>Automatic Preview</h5>
        <p>
          Whether you're writing your book in the browser or from your local machine, 
          automatic preview lets you see how your book is translating into html markup.
        </p>
      </li> 
      <li id="seven">
        <h5>Utilize Git</h5>
        <p>
          Git is a useful tool for collaborating with other people, soliciting feedback, and version control.
        </p>
        <p>
          <a href="http://git-scm.com/" target="_blank">Learn More About Git</a>
        </p>
      </li> 
      <li id="eight">
        <h5>Integrated Marketing</h5>
        <p>
          Softcover has a fully integrated marketing platform that allows you to set price points, formats a marketing page for you, and lets you accept sales through the service. Paperback is connected to the sales platform Gumroad.
        </p>
        <p>
          <a href="https://www.softcover.io/" target="_blank">Check out Softcover</a> | 
          <a href="https://gumroad.com/" target="_blank">Check out Gumroad</a>
        </p>
      </li> 
    </ol>
  </section>
</section>
